{% extends "base.html" %}
{% block content %}





<div class="catalog-grid">

  <div class="card">
    <div class="card-img">
      <img src="{{ url_for('static', filename='images/prujin.jpg') }}" alt="Пружины">
    </div>
    <div class="card-content">
      <h3>Цилиндрические витые пружины тележки</h3>
      <p>Упругие элементы подвешивания, обеспечивают амортизацию и равномерное распределение нагрузки.</p>
      <a href="{{ url_for('spring') }}" class="btn">Подробнее</a>
    </div>
  </div>

  <div class="card">
    <div class="card-img">
      <img src="{{ url_for('static', filename='images/battery.jpg') }}" alt="Батареи">
    </div>
    <div class="card-content">
      <h3>Аккумуляторные батареи</h3>
      <p>Источник электроэнергии для питания оборудования вагона при отсутствии генератора.</p>
      <a href="#" class="btn">Подробнее</a>
    </div>
  </div>

  <div class="card">
    <div class="card-img">
      <img src="{{ url_for('static', filename='images/shtucer.jpg') }}" alt="Штуцеры">
    </div>
    <div class="card-content">
      <h3>Соединительные штуцеры</h3>
      <p>Элементы пневмосистем для герметичного соединения трубопроводов и узлов.</p>
      <a href="#" class="btn">Подробнее</a>
    </div>
  </div>

  <div class="card">
    <div class="card-img">
      <img src="{{ url_for('static', filename='images/valve.jpg') }}" alt="Клапаны">
    </div>
    <div class="card-content">
      <h3>Электропневматические клапаны</h3>
      <p>Управляют потоками сжатого воздуха в пневмосистемах подвижного состава.</p>
      <a href="#" class="btn">Подробнее</a>
    </div>
  </div>

</div> <!-- ОБЯЗАТЕЛЬНО -->

</section>

{% endblock %}