{% extends "base.html" %}

{% block content %}

<section class="hero">
  <video class="hero-video" autoplay muted loop playsinline preload="auto">
    <source src="{{ url_for('static', filename='videos/train.mp4') }}" type="video/mp4">
  </video>

  <div class="hero-overlay"></div>

  <div class="hero-content">
    <h1>ТОО Пассажирская вагонная Компания «Восточный экспресс»</h1>

    <p>
      Ваш надёжный партнёр в мире железнодорожных перевозок.
      Компания успешно работает с 2008 года, специализируясь на поставках
      запасных частей и материалов для пассажирских вагонов.
    </p>

    <a href="{{ url_for('catalog') }}" class="btn">Подробнее</a>
  </div>
</section>

<section class="features">

  <div class="feature-card">
    <div class="icon">🚆</div>
    <h3>Комплексный подход</h3>
    <p>
      Компания объединяет производство, складирование и поставку запасных
      частей в одном месте, что упрощает процесс сотрудничества и сокращает
      сроки выполнения заказов.
    </p>
  </div>

  <div class="feature-card">
    <div class="icon">🚆</div>
    <h3>Собственное производство и контроль качества</h3>
    <p>
      Наличие оборудованных цехов механической обработки, сварочных участков
      и испытательных стендов обеспечивает высокий уровень контроля качества
      продукции и соответствие отраслевым стандартам.
    </p>
  </div>

  <div class="feature-card">
    <div class="icon">🚆</div>
    <h3>Гибкость и изготовление под заказ</h3>
    <p>
      Возможность производства деталей по техническим чертежам и заданиям
      заказчика позволяет удовлетворять индивидуальные потребности
      железнодорожных предприятий.
    </p>
  </div>

  <div class="feature-card">
    <div class="icon">🚆</div>
    <h3>Развитая логистика и сервисная поддержка</h3>
    <p>
      Компания обеспечивает поставки по Казахстану и странам СНГ, включая
      экспресс-доставку, а также предоставляет технические консультации и
      сопровождение клиентов на всех этапах сотрудничества.
    </p>
  </div>

</section>
<a href="{{ url_for('home') }}" class="btn">Подробнее</a>
{% endblock %}